<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin page</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users found</h2>
    <div th:case="*">


        <h2>Users</h2>
        <table border="2">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Password</th>
                <th>Email</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getId}"></td>
                <td th:text="${user.getUsername}"></td>
                <td th:text="${user.getPassword}"></td>
                <td th:text="${user.getEmail}"></td>
                <td>
                    <form method="GET" th:action="@{admin/editUser}" th:object="${user}">
                        <button type="submit" th:name="id" th:value="${user.getId()}">Edit</button>
                    </form>
                </td>
                <br>
                <td>
                    <form th:method="POST" th:action="@{/admin/delete}" th:object="${user}">
                        <button type="submit" th:name="id" th:value="${user.getId()}">Delete</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
        <form method="GET" th:action="@{/admin/addUser}">
            <button type="submit" value="New User">Create user</button>
        </form>
        <br>
        <form action="/logout">
            <input type="submit" value="logout">
        </form>

    </div>
</div>
</body>
</html>